/EntrevistaIPN/nbproject/private/
EntrevistaIPN/build.xml
EntrevistaIPN/manifest.mf
EntrevistaIPN/nbproject/build-impl.xml
EntrevistaIPN/nbproject/genfiles.properties
EntrevistaIPN/nbproject/project.xml
/EntrevistaIPN/build/